body {
    font-family: "Montserrat";
    font-weight: 500;
    
}

footer {
    text-align: center;
    align-items: center;
}

h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

.big-heading { 
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.1rem;    
}


/**Navigation bar **/

.navbar {
    padding : 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 2.5rem;

}

.nav-item {
    padding: 0 1.125rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/** Download button **/
.download-btn {
    margin: 5% 3% 5% 0;
}

#title {
    color: white;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    overflow: hidden;
}



.title-image {
    transform : rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

.icon {
    color: #ef8172;
    margin: 1rem;
    
}

.icon:hover {
    color: #ff4c68;
}

.white-section {
    padding: 7% 15%;
}
.coloured-section {
    background-color:#ff4c68 ;
    color: white;
}

.social-icon {
    margin: 20px 10px;
}

#features {
    position: relative;
    
}

.feature-box {
    padding: 3%;
    text-align: center;
    
}

#testimonials {
    background-color: #ef8172;
    color: white;
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}


.testimonial-image {
    width: 10%;
    border-radius: 100%;
    height: auto;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.card-body {
    padding: 1.25rem;
}

#cta {
    padding: 7% 15%;
    text-align: center;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}